amqp==5.3.1
async-timeout==5.0.1
beautifulsoup4==4.13.4
billiard==4.2.1
blinker==1.9.0
celery==5.5.3
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Flask==3.1.0
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
greenlet==3.2.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
kombu==5.5.4
MarkupSafe==3.0.2
packaging==25.0
praw==7.8.1
prawcore==2.4.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pywin32==308
redis==5.2.1
requests==2.32.4
six==1.17.0
soupsieve==2.7
SQLAlchemy==2.0.42
typing_extensions==4.14.1
tzdata==2025.2
update-checker==0.18.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.1.3
